

.cardContact{
  text-align: center;
  font-size: medium;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}

.new {
  text-align: center;

}

li {display: inline-block;}


.no-bullets {
list-style-type: none;
background-color: rgb(0, 116, 124);
padding: 20px;
}
.links{
padding-left: 10px;
padding-right: 10px;
font-size: small;

}


.links:hover{
background-color: rgba(7, 245, 165, 0.202);
border-radius:  10%;
padding:10px;
font-size: small;

}





input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 100%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}


input[type=text] {
padding-right: 30px;
padding-left: 30px;
width: 300px;
 }

/* div {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
padding-right: 30px;
} */



button {
width: 30%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
margin-left: 5px;
margin-right: 5px;

}

.editbutton {
width: 30%;
background-color: #da5b16;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
margin-left: 5px;
margin-right: 5px;
}

.delete {
width: 30%;
background-color: #af4c4c;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
margin-left: 5px;
margin-right: 5px;
}




.tracka{

text-align: center;
margin: auto;
}



@media (min-width: 300px) and (max-width: 768px) {



.homePAge{

  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  text-align: center;
}


.cardContact{
  text-align: center;
  font-size: small;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}




button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editbutton {
  width: 100%;
  background-color: #da5b16;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete {
  width: 100%;
  background-color: #af4c4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.HRDiagram {
  margin:auto;
  text-align: center;
}

.hrd{
  max-width: 320px;
  max-height: auto;
}


}

/* Beginning Celestial Respiration Tracker Styling SMALLEST SCREENS */



#shootingstar :hover{
  color: #45a049;
}

/* https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
  grid-template-columns: 1em auto;

  
}

/* 
.subtitleCR {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} */

.nostarpoint {
  margin: center;
  text-align: center;

}

body {
  text-align: center;
}





button {
  margin: auto;
}
/* 
.nebNpnts{
  padding-left: 200px;
  padding-right: 200px;
} */

/* .starCardContainer{
  
  display:flex;
flex-direction: row;

} */
.starCard{

  max-width: 270px;
  padding-right: 30px;
}

legend {

  background-color: gray;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
}



.warningnav{
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  background-color: #7891793f;
  padding: 30px;
  text-align: center;
}





input[type=option] {
  max-width: 200px;
  
  }

  fieldset{

    max-width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    border-radius: 10px;
    }


.HRDiagram img {
max-width: 300px;
}

div{
  padding: 10px;
}


.buttonCheat{
  border-radius: 10px;
  }

.buttonCheat:hover{
background-color:#45a04980;
border-radius: 10px;
}



table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

table thead tr th {
background-color: rgba(128, 0, 128, 0.4);

}

p .starnameSearch{
  background-color: #19003e6f;
  color: #ddd;
}
p .starnameSearch{
  background-color: #6816e26f;
  color: #ddd;

}

strong{
  font-family: 'Courier New', Courier, monospace;
}

legend strong{

  color:yellow
}

iframe {
  max-width: fit-content;
  max-height: fit-content;
}


.orangeReset{
  background-color:#6e4877
}

.orangeReset:hover{
  background-color:#7325615c
}


@media (min-width: 0px) and (max-width: 768px) {

  .gamemanualCompass{
    max-width: 450px;
    max-height: auto;
  }
}